/* Assignment Page CSS */



#students-button {
	float: left;
	clear: left;
	display:inline-block;
	margin:20px;
}

#students-search {
	display:inline-block;
	float: right;
	margin:20px;
	margin-right:40px;
}

#grade-table {
	margin-left: 20px;
	width: calc(100% - 40px);
}

#sidebar-button {
	margin-left:20px;
	margin-top:20px;
	float: left;
}

#breadcrumb {
	margin-left:20px;
	margin-top:30px;
	float: left;
}

.ui.visible.left.sidebar~.pusher {
	width: calc(100% - 260px);
}